{% extends "index.html" %}
{% block content %} 
<div class="neighborhood-guides">
        <div class="container">
            <h2>Toy Shop Guides</h2>
            <p>Not sure which shop to visit?</p>
			{% if login_session.get('credentials') is not none %}
			<button type="button"><a href = "\new\">New Toy Shop</a></button>
			{% endif %}
    </div>
    <div class="learn-more">
	  <div class="container">
		<div class="row">
		  {% for shop in toyshops%}
	      <div class="col-md-4">
			<h3>{{shop.name}}</h3>
			<p>{{shop.description}}.</p>
			<p><a href="/index/{{shop.id}}">See the toys sold in this shop.</a></p>
	      </div>
		 {% endfor %}
	    </div>
	  </div>
	</div>
{% endblock %}
