{% extends "index.html" %}
{% block content %} 
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ toyshop.name }}
			{% if login_session.get('credentials') is not none %}
			<figure class="creator">
				<br/>
				<p style = "font-size: 24px">{{user.name}}&nbsp&nbsp<img src= ' {{login_session['picture']}} ' style = "width: 30px; height: 30px;border-radius: 5px;-webkit-border-radius: 15px;-moz-border-radius: 5px;"></p>

			</figure>
			{% endif %}
			</h1>

		</div>
	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		{% if login_session.get('credentials') is not none %}
		<div class="col-md-11 padding-none">
			<a href="{{url_for('editToyshop', shop_ID = toyshop.id )}}">
				<button class="btn btn-default" id="edit">Edit Toy Shop</button>
			</a>
			<a href="{{url_for('addNewToy', shop_ID = toyshop.id )}}">
				<button class="btn btn-default" id="new-toy">Add New Toy</button>
			</a>
				<button class="btn btn-default delete" id="delete" onclick="myFunction('Are you sure to delete this toy shop?','{{url_for('deleteToyshop', shop_ID = toyshop.id )}}')" >Delete Toy Shop</button>
		</div>
		{% endif %}
		<div class="col-md-7"></div>
	</div>
	{% if toys !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				{% for toy in toys %}
						<div class="menu-item">
							<h3>{{toy.name}}</h3>
							<p>{{toy.description}}</p>
							<p class="menu-price">Price:{{toy.price}}$</p>
							{% if login_session.get('credentials') is not none %}
							<button  onclick="window.location.replace('{{url_for('editToy', shop_ID = toyshop.id, toy_ID=toy.id ) }}')">Edit</button>
							&nbsp
							<button  onclick="myFunction('Are you sure to delete this toy?','{{url_for('deleteToy', shop_ID = toyshop.id, toy_ID=toy.id ) }}')">Delete</button>
							{% endif %}
						</div>
				{% endfor %}
			</div>
		</div>

	{% endif %}
{% endblock %}
